img.zeal {
  margin-bottom: 50px;

  @include media($medium) {
    max-width: 708px;
  }
}
div.post-entry-title {
  @include font-size(18);
  color: $primary-color;
  margin-top: 16px;

  @include media($medium) {
    @include font-size(22);
    margin-bottom: 10px;
  }
}