/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 80px;
  @include clearfix;

  @include media($medium) {
    margin-top: 0;
  }

  .wrap {
    text-align: center;
    max-width: em(440);
    padding-right: 20px;
    padding-left: 20px;

    @include media($medium) {
      max-width: em(728);
      padding-right: 60px;
      padding-left: 60px;
    }

    @include media($large) {
      max-width: em(960);
    }
  }
}

/*
   Site logo
   ========================================================================== */

.site-logo {

  img {
    width: 100px;
    margin-top: 50px;
    // height: 100px;
    border: 4px solid $white;

    @include media($medium) {
      width: 150px;
      // height: 150px;
    }

    @include media($large) {
      width: 200px;
      // height: 200px;
    }
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;

  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 0;
  font-family: $alt-font;
  @include font-size(16);
  font-weight: 400;
  font-style: italic;

  @include media($medium) {
    @include font-size(20);
  }
}
